body{ 
    background-color: black;

    display: flex;
    flex-wrap: wrap;
    

}
.card{
    margin: 16px;
    padding: 20px;
    border: solid 2px rgb(136, 74, 197);
    border-radius: 8px; /*arredondando*/

    /*tipo de fonte*/
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a6a6a6;

    

}

.nome{
    color: rebeccapurple;
}
.foto{
    width: 240px;
    height: 240px;
}