body {
    background-color: black;

    display:flex;
    /* flex-direction: column; */
    flex-wrap:wrap;
}
.card{
    margin: 16px;
    padding: 20px;
    border: solid 2px #393939;

    /*tipo de fonte*/
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a6a6a6;

    filter: opacity(0.5);
}

.card:hover{
    box-shadow: 4px 4px 20px fuchsia;
    transform: scale(1.05);
    transition: ease-in 200ms;

    filter: opacity(1);
} 

.capa{
    width: 240px; /*largura*/
    height: 240px; /*altura*/
    object-fit: cover; 

    /* filter: grayscale(1);  --tirando a cor */
    
}

/* .card:hover .capa{
    filter: grayscale(0);  --ativa de volta acor ao passar o mouse (comando .card:houver)
}*/



.titulo{
    color: fuchsia;
    font-size: 20px; /*tamanho da fonte*/
    font-weight: 800; /* espessura da linha da fonte*/

}
 .artista{
    color: aliceblue;

 }

 .album{
    font-size: 12px; /*tamanho da fonte*/

 }
 